.table-faculty,
.table-group,
.table-student,
table * {
    padding: 2px;
    border: 2px solid black;
    border-collapse: collapse;

    text-align: center;
}

table {
    margin-bottom: 20px;
}

.faculty-caption {
    font-weight: bold;
    border-bottom: none;
    background-color: rgb(6, 252, 170);
}

.group-caption {
    font-weight: bold;
    border-bottom: none;
    background-color: orange;
}

.student-caption {
    font-weight: bold;
    border-bottom: none;
    background-color: rgb(197, 79, 252);
}
