body {
    margin-top: 10vh;
    display: grid;
    justify-content: center;
}

.form-input {
    height: 25px;
    margin: 20px 0 20px 0;
    display: block;
    justify-self: center;

    border-radius: 5px;
}

.form-btn {
    height: 25px;
    margin: 15px 0 15px 0;
    display: block;
    justify-self: center;

    background-color: chocolate;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
}

.form-btn:hover {
    cursor: pointer;
}

.form {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
}


.form-fieldset {
    background-color: rgb(128, 230, 255);
    border-radius: 10px;
}


.form-legend {
    text-align: center;
}