<div class="manual">
    1. Запускаем тестовый сервер. Переходим по ссылке (автоматически попадаем на окно с формой регистрации).<br><br>
    2. Регистрируемся: вводим логин (имя пользователя) и пароль (автоматически попадаем на оно с формой входа).<br><br>
    3. Авторизуемся: вводим ранее введённые логин (имя пользователя) и пароль (если пользователь зарегистрирован,
    то попадаем на окно с приветствием).<br><br>
    4. Выход из учётной записи пользователя производит при помощи кнопки "Logout".
</div>