{% extends 'base.html' %}

{% load static %}

{% block main %}
    <div class="main-tbh">
        <p class="home-text">
            Выполняем работы любой сложности в сфере разработки и обслуживания инженерных систем.<br>
            Предоставляем качественные услуги по подготовке ИТП, АУУ к отопительному периоду.
        </p>
    </div>

    <div class="time-to-hp">
        <span class="item-1">До следующего ОЗП примерно осталось:</span>
        <span class="item-2" id="d"></span>
        <span class="item-3" id="h"></span>
        <span class="item-4" id="m"></span>
        <span class="item-5" id="s"></span>
    </div>

    <form class="form" action="" method="POST" name="form-fb">
        <p class="form-title">НАПИШИТЕ НАМ</p>
        {% csrf_token %}

        {% for field in form %}
            {% if field != form.captcha %}
            <p>{{ field }}</p>
            <div>{{ field.errors }}</div>
            {% endif %}
        {% endfor %}

        <div class="form-error">{{ form.non_field_errors }}</div>
        <p class="form-captcha">{{ form.captcha }}</p>
        <p><button class="form-btn" type="submit">Отправить</button></p>
    </form>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="message form-success">{{ message|safe }}</div>
            {% elif message.tags == 'error' %}
                <div class="message form-error">{{ message|safe }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock main %}

{% block script %}
    <script src="{% static 'teplo/js/script_index.js' %}" defer></script>
{% endblock script %}