{% extends 'base.html' %}

{% block main %}
    <div class="main-tbs">
        <p class="service-text">
            Предоставляем широкий спектр услуг в сфере теплоснабжения. Основные из них перечислены ниже.
        </p>
    </div>

    <div class="main-card">
        <div class="card cadr-1">
            <p class="card-title">Теплоснабжение</p>
            <hr>
            <ul class="card-list">
                <li>Обслуживание ИТП/АУУ</li>
                <li>Ремонт</li>
                <li>Пусконаладка</li>
                <li>Подготовка к ОЗП</li>
                <li>Ввод в эксплуатацию</li>
            </ul>
        </div>

        <div class="card cadr-2">
            <p class="card-title">Отопление зданий</p>
            <hr>
            <ul class="card-list">
                <li>Обслуживание</li>
                <li>Энергоаудит</li>
                <li>Гидравлическая наладка</li>
                <li>Подготовка к ОЗП</li>
                <li>Ввод в эксплуатацию</li>
            </ul>
        </div>

        <div class="card cadr-3">
            <p class="card-title">Водоснабжение/водоотведение</p>
            <hr>
            <ul class="card-list">
                <li>Обслуживание КНС, НС</li>
                <li>Ремонт</li>
                <li>Пусконаладка</li>
                <li>Ввод в эксплуатацию</li>
            </ul>
        </div>

        <div class="card cadr-4">
            <p class="card-title">Проектирование</p>
            <hr>
            <ul class="card-list">
                <li>ИТП/АУУ</li>
                <li>УУТЭ</li>
                <li>КНС/НС</li>
                <li>Инженерные сети</li>
            </ul>
        </div>

        <div class="card cadr-5">
            <p class="card-title">Автоматизация/Диспетчеризация</p>
            <hr>
            <ul class="card-list">
                <li>Обслуживание</li>
                <li>Монтаж</li>
                <li>Пусконаладка</li>
                <li>Удалённое управление</li>
                <li>Удалённый съём показаний</li>
            </ul>
        </div>

        <div class="card cadr-6">
            <p class="card-title">УУТЭ</p>
            <hr>
            <ul class="card-list">
                <li>Обслуживание</li>
                <li>Монтаж</li>
                <li>Ремонт</li>
                <li>Пусконаладка</li>
                <li>Съём показаний</li>
            </ul>
        </div>
    </div>
{% endblock main %}