body {
    box-sizing: border-box;

    margin 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    align-content: start;
    justify-content: center;
    justify-items: center;

    background-color: burlywood;
}

.nav {
    min-width: 350px;
    padding: 10px 1% 10px 1%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 10%;
    justify-content: space-between;

    border: 1px solid black;
    border-radius: 5px;

    background-color: grey;
    font-weight: bold;
}

.register,
.login,
.user,
.logout {
    color: white;
}

.form {
    height: max-content;
    width: 350px;
    padding: 10px 1% 10px 1%;
    display: grid;
    grid-column-template: 1fr;
    grid-row-gap: 20px;
    justify-items: center;

    border: 1px solid black;
    border-radius: 5px;

    background-color: green;
}

.form-text {
    margin: 0;
    color: white;
}

hr {
    width: 100%;
    margin: 0;
}

.form-input {
    width: 90%;
    padding: 1%;
}

.form-btn {
    width: 50%;
    padding: 1%;
}

.form-btn:hover {
    cursor: pointer;
}

.manual {
    height: max-content;
    width: 350px;
    padding: 1%;

    border: 1px solid black;
    border-radius: 5px;
}
