{% load static %}

<div class="slider">
    <div class="btn-box">
        <button class="prev" onclick="onPrev3()">&#171;</button>
        <p>Обслуживание АУУ</p>
        <button class="next" onclick="onNext3()">&#187;</button>
    </div>

    <div class="slide-box">
        <div class="slide slide-3" data-active3>
            <img class="slide-img" src="{% static 'teplo/img/auu_1/img_1.webp' %}" alt="auu">
        </div>

        <div class="slide slide-3">
            <img class="slide-img" src="{% static 'teplo/img/auu_1/img_2.webp' %}" alt="auu">
        </div>

        <div class="slide slide-3">
            <img class="slide-img" src="{% static 'teplo/img/auu_1/img_3.webp' %}" alt="auu">
        </div>

        <div class="slide slide-3">
            <img class="slide-img" src="{% static 'teplo/img/auu_1/img_4.webp' %}" alt="auu">
        </div>

        <div class="slide slide-3">
            <img class="slide-img" src="{% static 'teplo/img/auu_1/img_5.webp' %}" alt="auu">
        </div>
    </div>
</div>