{% load static %}

<div class="slider">
    <div class="btn-box">
        <button class="prev" onclick="onPrev2()">&#171;</button>
        <p>Обслуживание ИТП</p>
        <button class="next" onclick="onNext2()">&#187;</button>
    </div>

    <div class="slide-box">
        <div class="slide slide-2" data-active2>
            <img class="slide-img" src="{% static 'teplo/img/itp_1/img_1.webp' %}" alt="heating station">
        </div>

        <div class="slide slide-2">
            <img class="slide-img" src="{% static 'teplo/img/itp_1/img_2.webp' %}" alt="heating station">
        </div>

        <div class="slide slide-2">
            <img class="slide-img" src="{% static 'teplo/img/itp_1/img_3.webp' %}" alt="heating station">
        </div>

        <div class="slide slide-2">
            <img class="slide-img" src="{% static 'teplo/img/itp_1/img_4.webp' %}" alt="heating station">
        </div>

        <div class="slide slide-2">
            <img class="slide-img" src="{% static 'teplo/img/itp_1/img_5.webp' %}" alt="heating station">
        </div>

        <div class="slide slide-2">
            <img class="slide-img" src="{% static 'teplo/img/itp_1/img_6.webp' %}" alt="heating station">
        </div>

        <div class="slide slide-2">
            <img class="slide-img" src="{% static 'teplo/img/itp_1/img_7.webp' %}" alt="heating station">
        </div>
    </div>
</div>