#container {
    background-color: rgb(199, 199, 199);
}

#header, 
.module caption {
    background-color: #404040;
}

#site-name {
    font-weight: 400;
}

.colMS > h1 {
    font-weight: 400;
}

#content-related {
    border-radius: 10px;
}

div.breadcrumbs {
    background-image: linear-gradient(90deg, #404040, white);
}

#changelist-filter-header {
    background-color: #404040;
}

.theme-icon-when-auto,
.theme-icon-when-dark,
.theme-icon-when-light {
    border-radius: 50%;
}
